.container {
  flex-direction: inline-block;
  justify-content: space-between;
  flex: 1;
  text-align: center;
  border: solid black 4px;
}

.main-text {
  margin: 10px;
  font-size: 14px;
  font-family: sans-serif;
}
