.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

body {
  background-color: rgb(243, 240, 240);
  font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

.main-text {
  font-family:  "Trebuchet MS", Helvetica, sans-serif;
  margin: 10px;
  font-size: 14px;
}

h1 {
  margin: 0;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 100;
  background-color: #319df6;
  color: #fff;
}

#canvas {
  display: inline-block;
}

#canvas > canvas {
  display: flex;
  align-items: center;
  max-width: 90%;
  max-height: 85%;
  margin: 20px 33px 1px 20px;
  float: left;
}

th, td {
  padding: 5px;
  text-align: center;
}

#live-update-table {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  border: 1px solid rgb(185, 185, 185);
  border-spacing: 0;
  border-collapse: collapse;
  background-image: linear-gradient(to bottom,#c2c2c2 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  padding: 10px 10px;
  top: 0px;
  min-width: 230px;
  max-width: 100%;
  position: relative;
  margin-left: 19px;
  margin-right: 60px;
}

.chart-container {
  align-content: center;
  display: inline-block;
  position: relative;
  top: 50px;
  height:40vh;
  width:25vw;
  margin-bottom: 61px;
}

.control-btns {
  font-family:  "Trebuchet MS", Helvetica, sans-serif;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.18);
  position: relative;
  top: 0px;
}

.control-btns:focus {
  outline: none;
}

#pause-button {
  background-color: rgb(211, 211, 211);
}

#pause-button:hover {
  background-color: rgb(197, 197, 59);
}

#start-button {
  background-color: rgb(17, 175, 48);
}

#start-button:hover {
  background-color: rgb(62, 224, 92);
}

#reset-button {
  background-color: rgb(173, 62, 62);
}

#reset-button:hover {
  background-color: rgb(134, 49, 49);
}

/* Input slider */

#input-table {
  margin: 20px;
  width: 20em;
}

.input-label {
  width: 1em;
  font-size: 15px;
}

.input-slide {
  position: relative;
  flex-shrink: 1;
  order: 2;
  display: block;
  margin: 20px;
}

.noUi-connects {
  background-color: rgb(97, 181, 255);
}

.noUi-tooltip {
  font-size: 12px;
}

#num-weights-row {
  margin-bottom: 10px
}

#num-weights{
  font-size: 15px;
  padding: 5px;
  margin: 10px;
}

.pendulum-2-input .noUi-connects{
  background-color: rgb(46, 252, 138);
}

#length-slider .noUi-connects {
  background-color:  rgb(252, 124, 124)
}

/* control visibility  */
.hide-container {
  display: none;
}

/* Laptop screens 1176 */
/* Only the chart is messed up at this width */
@media screen and (max-width : 1176px) {
  .chart-container {
    width: 70vw;
  }
}


/* Medium Screens */
@media screen and (max-width : 992px) {
  #canvas > canvas {
    display: flex;
    align-items: center;
    max-width: 95%;
    max-height: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }

  #live-update-table {
    top: 0px;
    margin: 0px;
  }

  .chart-container {
    position: relative;
    align-items: center;
    float: left;
    width: 90vw;
    height: 40vh;
  }

  h1 {
    font-size: 20px;
  }
}

/* Tablet  */
@media screen and (max-width : 768px) and (min-width: 486px) {
  #live-update-table {
    width: 97%;
  }
}


/* Mobile for table & buttons*/
@media screen and (max-width: 485px) {
  .main-text {
    font-size: 15px;
  }

  #live-update-table {
    width: 92%;
    padding: 2px;
  }

  .table-container {
    position: relative;
    display: flex;
    float: right;
  }

  .table-container > table {
    position: relative;
    left: 50%;
  }

  .button-group {
    position: relative;
    display: block;
    float: right;
    left: -50%;
  }

  .button-group > .control-btns {
    font-size: 15px;
    position: relative;
    left: 50%;
  }
}
